<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/commonHead"></th:block>
</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
	<th:block th:replace="common/commonTop"></th:block>

	<div class="body">
		<th:block th:replace="common/commonMenu"></th:block>		

		<!-- 본문 시작 -->
		<div role="main" class="main">

			<div class="col-12 infoTitle text-center" style="background-image: url(/img/common/subtop_bg_02.png); background-repeat: no-repeat; background-position: center; background-size: cover">
				조직도
			</div>


			<div class="container">
				<div class="col-12 borderBottom" >
					<i class="fas fa-home"></i> &gt; 소개 &gt; 조직도
				</div>
			</div>

			<section class=" ">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center " style="padding:50px 0">
							
									<img src="/img/intro/pyo.png" class="img-fluid">


						</div>
					</div>
				</div>
			</section>

			<div class="container">
				<div class="col-12">
					<div style="padding-top:20px;">
						
					</div>
				</div>
			</div>




		</div>
		<!-- 본문 끝 -->

		<th:block th:replace="common/commonFooter"></th:block>
	</div>

	<th:block th:replace="common/commonBottom"></th:block>		
</body>

</html>