<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/commonHead"></th:block>
	<script type="text/javascript" th:inline="javascript">
	
	$(document).ready(function(){
		commentList(1, "NTC05", "comment"); // 논평 목록 가져오기
		list(1, "NTC03", "notice"); 		// 공지 목록 가져오기
		list(1, "NTC04", "report"); 		// 보도자료 목록 가져오기
		list(1, "NTC06", "briefing"); 		// 브리핑 목록 가져오기
		list(1, "NTC07", "data");			// 홍보 목록 가져오기
	});
	
	// 논평 목록 가져오기
	var commentList = function(page, notice_type, menu){
				
		$.ajax({
	        type:'POST',
	        url:'/news/comment/list',
	        data: {
				'notice_type' : notice_type,	        	
	        	'page' : page
	        },
	        cache: false,
	        success:function(response) {        	
	        	var list = response.list;
	        	var body = '';
	        	
	        	if(list.length > 0){
	        		
	        		if(list.length<3){
	        			var commentLength=list.length;
	        		}else{
	        			var commentLength=3;
	        		}
	        		
		        	for(var i=0; i<commentLength; i++){
		        		
		        		var notice = list[i];
		        		
	        			body += '<div class="col-sm-8 col-md-4 mb-4 mb-md-0 wow fadeInUp indexCommentList' + i + '">';
	        			body += '	<article>';
	        			body += '		<div class="row">';
	        			body += '			<div class="col">';
	        			body += '				<a href="javascript:void(0)" class="text-decoration-none detailView" data-notice-idx="' + notice.notice_idx + '">';

	        			if(notice.upload_file_path == null || notice.upload_file_path == "" || notice.real_file_name == null || notice.real_file_name == "") {
	        			
	        				body += '					<img class="img-fluid hover-effect-2 mb-3 img_comment_list" alt="" src="/img/common/no_image.png" />';
	        				
	        			}else{
	        				notice.upload_file_path = notice.upload_file_path.split("/")[1];
	        				body += '					<img class="img-fluid hover-effect-2 mb-3 img_comment_list" alt="" src="/upload/display?fileName=' + notice.notice_type + "/thumb_" + notice.upload_file_path + '_' + notice.real_file_name + '" />';
	        			}
	        			
	        			body += '				</a>';
	        			body += '			</div>';
	        			body += '		</div>';
	        			body += '		<div class="row">';
	        			body += '			<div class="col">';
	        			body += '				<div class="text-color-primary text-2 mb-1">' + notice.reg_dt + '</div>';
	        			
	        			if (notice.notice_title.length > 44) {
	        				body += '				<h4 class="line-height-5 ls-0 comment_list_title"><a href="javascript:void(0)" class="text-dark text-decoration-none detailView" data-notice-idx="' + notice.notice_idx + '">' + notice.notice_title.substr(0, 44) + "..." + '</a></h4>';
	        	            
	        	        }else{
	        	        	body += '				<h4 class="line-height-5 ls-0 comment_list_title"><a href="javascript:void(0)" class="text-dark text-decoration-none detailView" data-notice-idx="' + notice.notice_idx + '">' + notice.notice_title + '</a></h4>';
	        	        }

	        			if (notice.notice_content.length > 69) {
	        				body += '				<div class="text-color-dark opacity-7 mb-3 comment_list_content">' + notice.notice_content.substr(0, 69) + "..." + '</div>';
	        				
	        			}else{
	        				body += '				<div class="text-color-dark opacity-7 mb-3 comment_list_content">' + notice.notice_content + '</div>';
	        			}
	        			
	        			body += '			</div>';
	        			body += '		</div>';
	        			body += '	</article>';
	        			body += '</div>';
		        		
		        	}
		        	
	        	}else{
	        		
	        		body += '<div>';
	        		body += '	게시글이 존재하지 않습니다.';
	        		body += '<div>';
	        	}
	        	
	        	$('#main_comment').html(body);
	        	
	        	// 상세페이지 이동
	        	$('.detailView').off('click').on('click', function(e){
	        		detailView(e, notice_type, menu)
	        	});
	        	
	        },
	        error:function(response, status, error) {
	            console.log("리스트를 불러올 수 없습니다.");
	        }
	    });
	}
	
	// 공지, 보도자료, 브리핑, 홍보 목록 가져오기
	var list = function(page, notice_type, menu){
		var url = '/news/' + menu + '/list';
		
		$.ajax({
	        type:'POST',
	        url: url,
	        data: {
				'notice_type' : notice_type,	        	
	        	'page' : page
	        },
	        cache: false,
	        success:function(response) {
	        	var list = response.list;
	        	var body = '';
	        	
	        	if(list.length > 0){

	        		if(list.length<4){
	        			var noticeLength=list.length;
	        		}else{
	        			var noticeLength=4;
	        		}
	        		
        			for(var i=0; i<noticeLength; i++){		        		
		        		var notice = list[i];
		        		
		        		if(notice.notice_title.length > 40){
	        				notice.notice_title = notice.notice_title.substr(0, 40) + "...";
	        			}
		        		
		        		body += '<div class="text-color-dark opacity-7 borderb"><a href="javascript:void(0)" class="detail_' + menu + '" data-notice-idx="' + notice.notice_idx + '">' + notice.notice_title + '</a></div>';
		        	}
		        	
	        	}else{
	        		body += '<div class="text-color-dark opacity-7">게시글이 존재하지 않습니다.</div>';
	        	}
	        	
	        	$('#main_'+ menu).html(body);
	    		
	        	// 상세페이지 이동
	        	$(document.body).on("click", ".detail_"+menu , function(e){
	        		e.stopPropagation();
	    			detailView(e, notice_type, menu);
	    		});
	        	
	        },
	        error:function(response, status, error) {
	            console.log("리스트를 불러올 수 없습니다.");
	        }
	    });
	}
	
	// 상세페이지 이동
	var detailView = function(e, notice_type, menu){
		$('#mainForm #notice_type').val(notice_type);
		$('#mainForm #notice_idx').val(e.currentTarget.getAttribute('data-notice-idx'));
		$('#mainForm').attr('method','POST').attr('action','/news/' + menu + '/view').submit();
	}
	
	</script>	
</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
	<th:block th:replace="common/commonTop"></th:block>

	<div class="body">
		<th:block th:replace="common/commonMenu"></th:block>
		
		<form id="mainForm">
			<input type="hidden" id="page" name="page" th:value="1"><!-- 페이징 유지 -->
			<input type="hidden" id="notice_idx" name="notice_idx" th:value="0">
			<input type="hidden" id="notice_type" name="notice_type">
		</form>
		
		<!-- 본문 시작 -->
		<div role="main" class="main">
			
			<!-- banner -->
			<div class="col-12 d-none d-sm-none d-md-block" >
				<div class="row">
					<div class="col-6 text-right" style="background-color: #274b6d; padding:150px 0 150px 90px;">
						<a href="/intro/info"><img src="/img/common/top_L.png" class="img-fluid wow fadeInLeft" ></a>
					</div>
					<div class="col-6" style="padding:150px 90px 150px 0; background-image: url(/img/common/banner_r_img.png); background-repeat: no-repeat; background-position: center; background-size: cover">
						<img src="/img/common/top_R.png" class="img-fluid wow fadeInRight">
					</div>
				</div>
			</div>
			
			<div class="d-block d-sm-block d-md-none">
				<div class="row">
					<div class="col-12 text-center" style="height:400px; background-image: url(/img/common/banner_mobile_img.png); background-repeat: no-repeat; background-position: center; background-size: cover">
						
						<div style="color:#fff; font-size: 38px; line-height: 46px; letter-spacing: -1.2px; padding-top: 110px;">
							2020년 대한민국<br/>
							대전환이 필요합니다.
						</div>
						<div style="color:#fff; font-size: 18px; font-weight: 100; margin-top: 15px;">
							한국사회의 체질 자체를 <br/>
							철저하게 변화시켜야 할 때가 되었습니다.
						</div>
						
					</div>
				</div>
			</div>
			<!-- banner end -->
			
			
			
			
			
			<div class="container py-4 my-5">
				<div class="row justify-content-center text-center mb-4">
					<div class="col-lg-8">
						<img src="/img/common/txt_01.png" class="img-fluid">
						<p class="text-6 text-color-dark line-height-7 negative-ls-1 px-5 wow fadeInUp">대한민국의 낡아빠진 규제 시스템을 완전히 혁파해야만 합니다.</p>
						<p class="opacity-9 text-4 wow fadeInUp">
							뉴디지털실용주의는 규제개혁당의 기본 철학이며 <br/>
							“모든 일은 다 할 수 있다... 다만 금지된 것만 할 수 없다"는 <br/>
							네거티브(Negative) 규제 정책으로 모든 규제가 전환 되어야 합니다.
						</p>
					</div>
				</div>
				<div class="row featured-boxes featured-boxes-style-4 " style="margin-top:50px;">
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.2s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fas fa-gavel icon-featured text-12"></i>								
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">Negative 규제정책</h4>
								<p class="mb-0">
									열린시스템, 진흥법 전면 개혁<br/>
									규제샌드박스 현실화
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.4s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fab fa-digital-ocean icon-featured text-12"></i>
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">디지털 자치와 분권 강화</h4>
								<p class="mb-0">
									지자체로 인허가권 대폭 이양<br/>
									포괄적 네거티브 인허가 허용
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.6s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fas fa-baby icon-featured text-12"></i>
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">출산육아 복지국가</h4>
								<p class="mb-0">
								다자녀가구 특혜 대폭 도입<br/>
								(부동산담보대출규제특례 등)
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.8s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fas fa-sync-alt icon-featured text-12"></i>
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">입법 개혁</h4>
								<p class="mb-0">
									불법 시행령 일제 정비 법률화<br/>
									금지규정 제한적 열거
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row featured-boxes featured-boxes-style-4" style="margin-top:50px;">
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.2s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fas fa-robot icon-featured text-12"></i>
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">4차산업기술기반 개혁</h4>
								<p class="mb-0">
									가상자산 금기 정책 폐기<br/>
									전자정부 AI 도입
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.4s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fas fa-user-shield icon-featured text-12"></i>
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">국민 복지 보장 생태계 도입</h4>
								<p class="mb-0">
									개인데이타 주권 확보<br/>
									DID 도입 보안 강화
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.6s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fas fa-running icon-featured text-12"></i>
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">스타트업 코리아</h4>
								<p class="mb-0">
								스타트업행정 <br/>
								스타트업정부 
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeInUp" style="animation-delay: 0.8s;">
						<div class="featured-box featured-box-primary featured-box-effect-4">
							<div class="box-content px-4">
								<i class="fas fa-sim-card icon-featured text-12"></i>
								<h4 class="font-weight-bold text-color-dark pb-1 mb-2">핀테크 및 공유경제 수용</h4>
								<p class="mb-0">
									시민참여경제<br/>
									지속성장 제곱 경제
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
			
			
			
			<!-- 논평 -->
			<div style="background-color: #f4f4f4; padding:10px 0 80px">
				<div class="container" style="margin-top:50px;">
					<div class="row justify-content-center text-center mb-4">
						<div class="col-lg-8">
							<h2 class="font-weight-bold mb-3 mt-3 wow fadeInDown">규제개혁당 <span style="color:#274b6d">논평</span></h2>
							<p class="text-5 text-color-dark line-height-7 negative-ls-1 px-5 wow fadeInUp">규제의 진정한 의미는 '미래를 위한 창조적 질서'입니다.</p>
							<div class="divider divider-primary divider-small divider-small-center mb-3">
								<hr>
							</div>
						</div>
					</div>

					<div class="row justify-content-center recent-posts" id="main_comment">
					</div>

				</div>
			</div>
			<!-- 논평 end -->
			
			
			
			
			<!-- 소식 -->
			<div class="container" style="margin-top:80px;">
				<div class="row justify-content-center text-center mb-4">
					<div class="col-lg-8">
						<h2 class="font-weight-bold mb-3 mt-3 wow fadeInDown">규제개혁당 <span style="color:#274b6d">소식</span></h2>
						<p class="text-5 text-color-dark line-height-7 negative-ls-1 px-5 wow fadeInUp">새로운 소식을 안내합니다.</p>
						<div class="divider divider-primary divider-small divider-small-center mb-3">
							<hr>
						</div>
					</div>
				</div>
					
				<div class="row justify-content-center">
					<div class="col-lg-6 wow fadeInUp" style="animation-delay: 0.2s; margin-bottom: 20px;">
						<div class="card index_card">
							<div class="col" style="padding:20px;">
								<h5><i class="far fa-bell"></i> 규제개혁당 공지</h5>
								
								<div id="main_notice">
								</div>
								
								<!-- 
								<div class="text-color-dark opacity-7 borderb"><a href="/news/notice">제21대 국회의원선거 지역구 공천신청자 현황</a></div>
								<div class="text-color-dark opacity-7 borderb">규제개혁당 인턴직원 모집 공고</div>
								<div class="text-color-dark opacity-7 borderb">사무처당직자(일반당무직 5급) 공개채용 최종 합격자 발표</div>
								<div class="text-color-dark opacity-7">제21대 국회의원 선거 지역구 후보자 추천신청 공고</div>
								 -->
								
							</div>
						</div>
					</div>
					
					<div class="col-lg-6 wow fadeInUp" style="animation-delay: 0.4s; margin-bottom: 20px;">
						<div class="card index_card">
							<div class="col" style="padding:20px;">
								<h5><i class="fas fa-user-edit"></i> 규제개혁당 보도자료</h5>
								
								<div id="main_report">
								</div>
								
								<!-- 
								<div class="text-color-dark opacity-7 borderb"><a href="/news/report">제21대 국회의원선거 지역구 공천신청자 현황</a></div>
								<div class="text-color-dark opacity-7 borderb">규제개혁당 인턴직원 모집 공고</div>
								<div class="text-color-dark opacity-7 borderb">사무처당직자(일반당무직 5급) 공개채용 최종 합격자 발표</div>
								<div class="text-color-dark opacity-7">제21대 국회의원 선거 지역구 후보자 추천신청 공고</div>
								 -->
								
							</div>
						</div>
					</div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-lg-6 wow fadeInUp" style="animation-delay: 0.6s; margin-bottom: 20px;">
						<div class="card index_card">
							<div class="col" style="padding:20px;">
								<h5><i class="fas fa-pencil-alt"></i> 규제개혁당 브리핑</h5>
								
								<div id="main_briefing">
								</div>
								
								<!-- 
								<div class="text-color-dark opacity-7 borderb"><a href="/news/briefing">제21대 국회의원선거 지역구 공천신청자 현황</a></div>
								<div class="text-color-dark opacity-7 borderb">규제개혁당 인턴직원 모집 공고</div>
								<div class="text-color-dark opacity-7 borderb">사무처당직자(일반당무직 5급) 공개채용 최종 합격자 발표</div>
								<div class="text-color-dark opacity-7">제21대 국회의원 선거 지역구 후보자 추천신청 공고</div>
								 -->
								
							</div>
						</div>
					</div>
					
					<div class="col-lg-6 wow fadeInUp" style="animation-delay: 0.8s; margin-bottom: 20px;">
						<div class="card index_card">
							<div class="col" style="padding:20px;">
								<h5><i class="far fa-star"></i> 규제개혁당 홍보</h5>
								
								<div id="main_data">
								</div>
								
								<!-- 
								<div class="text-color-dark opacity-7 borderb"><a href="/news/data">제21대 국회의원선거 지역구 공천신청자 현황</a></div>
								<div class="text-color-dark opacity-7 borderb">규제개혁당 인턴직원 모집 공고</div>
								<div class="text-color-dark opacity-7 borderb">사무처당직자(일반당무직 5급) 공개채용 최종 합격자 발표</div>
								<div class="text-color-dark opacity-7">제21대 국회의원 선거 지역구 후보자 추천신청 공고</div>
								 -->
								
							</div>
						</div>
					</div>
				</div>
					
					
			</div>
			<!-- 소식 end -->
			
			
			
		</div>
		<!-- 본문 끝 -->
		
		<th:block th:replace="common/commonFooter"></th:block>
	</div>
	
	<th:block th:replace="common/commonBottom"></th:block>
</body>

</html>